* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #DADBFD 35%, #FFD1BC 100%);
    color: #254268;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.team-container {
    display: flex;
    justify-content: space-around;
    gap: 250px;
}

.team-member {
    padding: 20px;
    max-width: 300px;
    margin: 20px;
    text-align: left;
    font-family: "Poppins", sans-serif;
}

p em {
    font-style: italic;
    color: #000000;
    font-size: 14px;
}

p {
    margin-bottom: 15px;
    color: #000000;
    font-size: 12px;
}

p strong {
    font-weight: bold;
    color: #000000;
}

.button-c {
    background-color: #EA785B;
    display: block;
    margin: 20px auto 0 auto;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 25px;
    font-size: 10px;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 3px 5px #6e6e6e, 0 1px rgba(0, 0, 0, 0.3);
}

button a{
    color:#ffffff;
}

.button-c:hover {
    background-color: #d96b52;
}