.welcome-page {
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.welcome-page .div {
  background-color: rgba(255, 255, 255, 1);
  background: linear-gradient(180deg, rgb(255, 235, 177) 33%, rgb(200, 202, 242) 100%);
  width: 1440px;
  height: 1024px;
  position: relative;
}

.welcome-page .overlap {
  position: absolute;
  width: 842px;
  height: 166px;
  top: 672px;
  left: 70px;
}

.welcome-page .vector {
  position: absolute;
  width: 473px;
  height: 116px;
  top: 50px;
  left: 0;
}

.welcome-page .rectangle {
  width: 388px;
  height: 66px;
  left: 454px;
  background-color: #254268;
  box-shadow: 0px 4px 4px #000000;
  position: absolute;
  top: 0;
  border-radius: 30px;
}

.welcome-page .text-wrapper {
  position: absolute;
  width: 352px;
  top: 14px;
  left: 472px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.welcome-page .overlap-group {
  position: absolute;
  width: 1025px;
  height: 220px;
  top: 62px;
  left: 0;
}

.welcome-page .rectangle-2 {
  width: 611px;
  height: 68px;
  left: 414px;
  background-color: #d9d9d9;
  position: absolute;
  top: 0;
  border-radius: 30px;
}

.welcome-page .text-wrapper-2 {
  position: absolute;
  top: 15px;
  left: 470px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #254268;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.welcome-page .text-wrapper-3 {
  position: absolute;
  top: 15px;
  left: 668px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #254268;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.welcome-page .text-wrapper-4 {
  position: absolute;
  top: 15px;
  left: 896px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #254268;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.welcome-page .img {
  position: absolute;
  width: 470px;
  height: 153px;
  top: 67px;
  left: 0;
}

.welcome-page .basic-media {
  position: absolute;
  width: 1030px;
  height: 94px;
  top: 398px;
  left: 206px;
}

.welcome-page .BMS-or-basic-media {
  position: absolute;
  width: 729px;
  top: 530px;
  left: 407px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.welcome-page .vector-2 {
  position: absolute;
  width: 396px;
  height: 153px;
  top: 200px;
  left: 1044px;
}